.bg{
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 1000px;
  height: 470px;
  background: white;
  color: white;
  z-index: 10;
  border-radius:3px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  overflow-y: scroll
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.deleteBtn {
  /* margin-top: 10px; */
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 3px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
}

.modalContent{
  display: flex;
  justify-content: space-around;
}

.heading{
  width: 100%;
}

.modal-img img{
  width: 100px;
  height: 100%;
}
.modal-info{
  display: flex;
  border: 1px rgba(240, 240, 240, 0.842) solid;
  margin: 40px 0 0 40px;
}

.m-brand{
  font-size: 15px;
}

.m-name{
  color:  #5f6169;
  font-size: 13px;
  font-weight: 400;
}

.m-price , .m-ogprice , .m-disc{
  font-size: 13px;
}

.m-price{
  font-weight: 600;
}

.m-ogprice{
  text-decoration: line-through;
  font-weight: 400;
  padding: 0 5px;
  color:  #5f6169;

}

.m-disc{
  color: #ff905a;
  font-weight: 400;

}

.m-return span{
  font-weight: 500;
}
.m-return{
  font-size: 13px;
  color:  #5f6169;
font-weight: 400;
}


.checkout-info{
  font-size: 14px;
  color:  #5f6169;
font-weight: 400;
display: flex;
justify-content: space-between;
margin: 30px 0;
}

.cart-info{
  padding-top: 40px;
  margin: 0 50px ;
}

.price-heading{
  font-weight: 600;
  font-size: 12px;
}

.price-info{
  color: #2c3e50;
  font-size: 15px;
  font-weight: 600;
  border-top: 1px solid #e0dede;
  padding-top: 30px ;

  
}

.totPrice{
  color:#2c3e50;
}

.totDisc{
  color: #03a685;
}

.conven{
  color: #2c3e50;
}

.conven span{

  text-decoration: line-through;

}

.order-btn{
  background-color: #ff3e6c;
  color: white;
  border: none;
  padding: 10px 60px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 3px;
  width: 100%;
}
